---
import '@fontsource/style-script';
import '@fontsource/poppins/300.css';
import '@fontsource/sulphur-point';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body class="bg-thauane-black min-h-dvh p-3">
		<div class="min-h-dvh ring-thauane-red shadow-thauane-red drop-shadow-lg  ring-1 rounded-md">
			<slot />
		</div>
	</body>
</html>

<style>

</style>
